.formulaireregister { 
    width: 700px; 
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: auto; /* Centre le formulaire horizontalement */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les éléments flexibles horizontalement */
    align-items: center; /* Centre les éléments flexibles verticalement */
    padding: 10px;
    color: white;
  }
  
  .form-group {
    flex: 0 0 calc(50% - 20px); /* Définit la largeur de chaque groupe à 50% moins les marges */
    margin: 10px; /* Marge entre chaque groupe */
  }
  
  label {
    display: block; /* Affiche le label en bloc */
    margin-bottom: 5px; /* Marge sous le label */
  }
  
  .REGISTRE {
    box-shadow: 0 0 100000px rgba(218, 165, 32, 0.884);
    width: 100%; /* Remplit la largeur disponible */
    padding: 8px; /* Ajoute un espace à l'intérieur de l'input */
    box-sizing: border-box; /* Inclut le padding dans la largeur */
  }
  .form-group .suivant1:hover{
    background-color: #272424;
    border-radius: 30px;
  }
  .recap {
    text-align: center;
  }
  
  .recap-item {
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px;
    width: 500px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.932);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .recap-item p {
    margin-bottom: 10px;
  }
  
  .recap-item strong {
    font-weight: bold;
  }
.modifbackin{
    background-image: url("./../../assets/images/fond.jpg");
         background-size: cover; 
        background-repeat: no-repeat;
        max-width: auto; 
        max-height: auto;
  
}
input {
  box-shadow: 0 0 100000px rgba(218, 165, 32, 0.884);
  width: 100%; /* Remplit la largeur disponible */
  padding: 8px; /* Ajoute un espace à l'intérieur de l'input */
  box-sizing: border-box; /* Inclut le padding dans la largeur */
}